@font-face {
    font-family: norse-bold;
    src: url(./fonts/Norse-Bold.otf);
  }
  
#container{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}
body{
 margin: 0;
}
#left{
    background-image: url(./img/tobias-rademacher-U3Oyfwx0tgk-unsplash.jpg);
    background-position: center;
    width: 35vw;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: norse-bold;
} 

#right{
    display: flex;
    flex-direction: column;
    width: 65vw;
    justify-content: center;
}

.first{
    height: 30vh;
    display: flex;
    padding-left: 5%;
    padding-bottom: 5%;
    background-color: #fafafa;
    justify-content: flex-start;
    align-items: flex-end;

}
.second{
    height: 40vh;
    background-color: white;
    padding-left: 5%;
    box-shadow: 2px 5px #e5e7eb;
    margin-bottom: 2%;
}
.form-main-div{
    display: flex;
    flex-direction: row;
}
.form-div{
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
}
input{
    height: 25px;
    border: 1px solid #E5E7EB;
    border-radius: 5px;
}

input:focus{
    border: 1px solid;
    border-color: blue;
}

input:invalid{
    border: 1px solid red;
}
#error{
    color: red;
    font-size: 10px;
    margin: 0;
    padding: 0;
}
label{
    font-size: 12px;
    color: #a1a1ba;
}
.third{
}
.btn-green{
    background-color: #596d48;
    color: white;
    border-radius: 5px;
    border: 1px solid #596d48;
    height: 30px;
    width: 200px;
    margin-left: 5%;
    box-shadow: 2px 5px #e5e7eb;
}
.hyperlink{
    margin-left: 5%;
}
a{
    text-decoration: none;
    color: #596d48;
}
.odin{
    color: black;
    opacity: 90%;
    font-size: 70px
}
.forImage{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer{

    display: flex;
    justify-content: center;
    align-items: flex-end;
}
